@charset "utf-8";



*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: #eff3f7;
    height: 100%;
}


/*===================== movies ============================*/

.container{
    height: 100%;
    display: flex;
    justify-content: center;
}

.loader{
    width:100%;
    height: 1000px;
    display:flex;
    justify-content: center; 
    align-items: center; 
    font-weight: 600;
    
    
}

.movies{
    width:80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding:50px;
    padding-top: 70px;
}

.movies .movie{
    width:45%;
    background: white;
    margin-bottom: 70px;
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    font-weight: 300;
    padding:20px;
    border-radius: 5px;
    color:#adaeb9;
    box-shadow:  0 13px 27px -5px rgba(50, 50, 93,  0.25),
    0 8px 16px -8px rgba(0, 0, 0,  0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.movie img{
    position: relative;
    top: -50px;
    max-width: 150px;
    width:100%;
    margin-right: 30px;
    box-shadow:  0 13px 27px -5px rgba(50, 50, 93,  0.25),
    0 8px 16px -8px rgba(0, 0, 0,  0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.movie .movie_title,
.movie .movie_year {
    margin: 0;
    font-weight: 300;
}

.movie .movie_title{
    margin-bottom: 5px;
    font-size:24px;
    color:#2c2c2c;
}

.movie .movie_genres{
    list-style: none;
    padding:0;
    margin:0;
    display:flex;
    margin: 5px;
}

.movie_genres li{
    margin-right:10px;
    font-size: 14px;
}